body
{
    background-color: #04000b;
    color: #ddf;
    font-family: monospace;
    font-size: 10pt;
    whitespace: pre;
    margin:0;
}

.content
{
    width:        80%;
    margin-left:  auto;
    margin-right: auto;
 
    border-left:  solid 1px #88f;
    padding-left: 20px;
    padding-top:  10px;
}

.message
{
    border-left: 1px solid #633;
    padding-left: 5px;
}

.note
{
    border-left: 1px solid #663;
    padding-left: 5px;
}

table
{
    margin-top:      20px;
    margin-bottom:   20px;
    width:           100%;
    border-spacing:  0;
    border-collapse: collapse;
}

td,th
{
    vertical-align: top;
    padding-left:   5px;
    padding-right:  5px;
    text-align:     left;
    white-space:    nowrap;
}

th{
    font-style:     normal;
    font-weight:    lighter;
}

.headgroup
{
    padding:    0px;
    text-align: center;
}

tr:nth-child(odd) {
    background: #04000f;
}
tr:hover {
    background: #08080f;
}
.headrow
{
    background-color: #000 !important;
    border-top: none;
    color:#787880;
}

tr
{
    border-top:    solid 1px #060612;
    border-bottom: solid 1px #060612;
}

tr:first-child
{
    border-width: 0px;
}

/* Outline table */
.uid      { min-width: 7ch;  }
.stp      { width: 3ch;  }
.operator { width: 100%; }

/* Physical table */
.diagram { width:100%; }
.diagram-container {
    border-left: 1px solid #334;
    padding-left: 5px;
}

.classname {
    font-style: italic;
    width: 100%;
}

/* Locations table */
.pass { color:#668; }

.tiploc     { min-width: 7ch;  }
.crs        { width: 3ch;  }
.locname    { width: 100%; }
.platform   { min-width: 3ch;  }
.time       { min-width: 5ch;  }
.routepart  { width: 3ch;  }
.activities { width: 12ch; }

.activity {
    padding-right: 5px;
}

.borderright
{
    border-right: 1px solid #334;
}

.borderleft
{
    border-left: 1px solid #334;
}

.passenger
{
    color:#668;
}

.operational
{
    color:#668;
}

.passenger.highlight
{
    color: #ddf;
}
